<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mpren.sz.dao.StudentDao">
    <resultMap id="BaseResultMap" type="com.mpren.sz.model.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
    </sql>

    <insert id="insert" parameterType="com.mpren.sz.model.Student">
        insert into student (id, user_name)
        values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR})
    </insert>
</mapper>