<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.sz.dao.TSDateDao">
    <resultMap id="BaseResultMap" type="com.test.sz.model.TSDate">
        <result column="DATE_ID" jdbcType="DECIMAL" property="dateId"/>
        <result column="DEAL_DATE" jdbcType="VARCHAR" property="dealDate"/>
        <result column="MARKET" jdbcType="VARCHAR" property="market"/>
    </resultMap>
    <insert id="insert" parameterType="com.mpren.automation.deal.s.date.domain.TSDate">
        insert into T_S_DATE (DEAL_DATE, MARKET)
        values (#{dealDate,jdbcType=VARCHAR}, #{market,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.mpren.automation.deal.s.date.domain.TSDate">
        insert into T_S_DATE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dateId != null">
                DATE_ID,
            </if>
            <if test="dealDate != null">
                DEAL_DATE,
            </if>
            <if test="market != null">
                MARKET,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dateId != null">
                #{dateId,jdbcType=DECIMAL},
            </if>
            <if test="dealDate != null">
                #{dealDate,jdbcType=VARCHAR},
            </if>
            <if test="market != null">
                #{market,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="queryDetail" parameterType="com.mpren.automation.deal.s.date.domain.TSDate" resultMap="BaseResultMap">
        select * from T_S_DATE where 1=1
        <if test="dateId != null">
            AND DATE_ID = #{dateId,jdbcType=DECIMAL}
        </if>
        <if test="dealDate != null">
            AND DEAL_DATE = #{dealDate,jdbcType=VARCHAR}
        </if>
        <if test="market != null">
            AND MARKET = #{market,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>
