<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.sz.dao.TSTop5Dao">
    <resultMap id="BaseResultMap"
               type="com.test.sz.model.TSTop5">
        <result column="STOCK_CODE" jdbcType="VARCHAR" property="stockCode"/>
        <result column="CONTINUE_DAYS" jdbcType="VARCHAR" property="continueDays"/>
        <result column="DIE_FU" jdbcType="DECIMAL" property="dieFu"/>
        <result column="NEXT_DAY_DIE_FU" jdbcType="DECIMAL" property="nextDayDieFu"/>
        <result column="STATISTIC_DATE" jdbcType="VARCHAR" property="statisticDate"/>
        <result column="KAI_PAN" jdbcType="DECIMAL" property="kaiPan"/>
        <result column="STOCK_NAME" property="stockName" jdbcType="VARCHAR"/>
        <result column="ZUO_SHOU" jdbcType="DECIMAL" property="zuoShou"/>
        <result column="THE_WAY" jdbcType="VARCHAR" property="theWay"/>
        <result column="GAO_KAI" jdbcType="DECIMAL" property="gaoKai"/>
        <result column="KDJ" jdbcType="DECIMAL" property="kdj"/>
        <result column="TD_RATE" jdbcType="DECIMAL" property="tdRate"/>
        <result column="SELL_PRICE" jdbcType="DECIMAL" property="sellPrice"/>
        <result column="BUY_PRICE" jdbcType="DECIMAL" property="buyPrice"/>
        <result column="GAO_KAI_FROM" jdbcType="VARCHAR" property="gaoKaiFrom"/>
        <result column="GAO_KAI_TO" jdbcType="VARCHAR" property="gaoKaiTo"/>
        <result column="SD_FROM" jdbcType="VARCHAR" property="sdFrom"/>
        <result column="SD_TO" jdbcType="VARCHAR" property="sdTo"/>
    </resultMap>
    <insert id="insert" parameterType="com.test.sz.model.TSTop5">
        insert into T_S_TOP5 (STOCK_CODE, CONTINUE_DAYS, DIE_FU,
        NEXT_DAY_DIE_FU, STATISTIC_DATE, KAI_PAN,STOCK_NAME)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.stockCode,jdbcType=VARCHAR}, #{item.continueDays,jdbcType=VARCHAR},
            #{item.dieFu,jdbcType=DECIMAL},
            #{item.nextDayDieFu,jdbcType=DECIMAL}, #{item.statisticDate,jdbcType=VARCHAR},
            #{item.kaiPan,jdbcType=DECIMAL},
            #{item.stockName,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.test.sz.model.TSTop5">
        insert into T_S_TOP5
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stockCode != null">
                STOCK_CODE,
            </if>
            <if test="continueDays != null">
                CONTINUE_DAYS,
            </if>
            <if test="dieFu != null">
                DIE_FU,
            </if>
            <if test="nextDayDieFu != null">
                NEXT_DAY_DIE_FU,
            </if>
            <if test="statisticDate != null">
                STATISTIC_DATE,
            </if>
            <if test="kaiPan != null">
                KAI_PAN,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stockCode != null">
                #{stockCode,jdbcType=VARCHAR},
            </if>
            <if test="continueDays != null">
                #{continueDays,jdbcType=VARCHAR},
            </if>
            <if test="dieFu != null">
                #{dieFu,jdbcType=DECIMAL},
            </if>
            <if test="nextDayDieFu != null">
                #{nextDayDieFu,jdbcType=DECIMAL},
            </if>
            <if test="statisticDate != null">
                #{statisticDate,jdbcType=VARCHAR},
            </if>
            <if test="kaiPan != null">
                #{kaiPan,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <select id="calcTop5" resultMap="BaseResultMap"
            parameterType="com.test.sz.model.TSTop5">
        SELECT
        d.*, e.STOCK_NAME,
        e.DEALED_DATE statistic_date
        FROM
        (
        SELECT
        c.stock_code,
        count(c.num) continue_days,
        sum(c.ZHANG_FU_LV) AS die_fu
        FROM
        (
        SELECT
        a.STOCK_CODE,
        a.DEALED_DATE,
        a.ZHANG_FU_LV,
        a.ZHANG_FU_LV <![CDATA[ <  ]]> 0 AS num
        FROM
        T_S_INFO a
        LEFT JOIN T_S_INFO b ON a.STOCK_CODE = b.STOCK_CODE
        AND a.DEALED_DATE <![CDATA[ <  ]]> b.DEALED_DATE
                            GROUP BY
                            a.STOCK_CODE,
        a.DEALED_DATE,
        a.ZHANG_FU_LV
        HAVING
        count(b.STOCK_CODE) <![CDATA[ <=  ]]> 5
        ORDER BY
        a.STOCK_CODE,
        a.DEALED_DATE DESC
        ) c
        GROUP BY
        c.STOCK_CODE,
        c.num
        ORDER BY
        continue_days DESC,
        die_fu ASC
        LIMIT 5
        ) d
        LEFT JOIN T_S_INFO e ON d.stock_code = e.STOCK_CODE
        ORDER BY
        e.DEALED_DATE DESC,
        d.die_fu ASC
        LIMIT 5
    </select>
    <select id="queryTop5" resultMap="BaseResultMap"
            parameterType="com.test.sz.model.TSTop5">
        select * from t_s_top5
    </select>
</mapper>
